.navbar {
  margin: 10px auto;
  max-width: 660px;
  display: flex;
  justify-content: space-between;

  .nav-left {
    display: flex;

    i {
      font-weight: 600;
      margin-top: 4px;
      padding-right: 10px;
    }

    .logo-text {
      border-left: 0.5px solid black;
      padding-left: 10px;
    }
  }

  .nav-center {
    input {
      text-align: center;
      font-size: 12px;
      margin-bottom: 5px;
    }
  }

  .nav-right {
    i {
      margin-right: 22px;
    }
  }
}

hr {
  border: 0.5px solid lightgray;
}
