.container {
  max-width: 660px;
  margin: 0 auto;
}

.post-container {
  display: inline-block;
  border: 0.2px solid darkgray;
  max-width: 440px;
  margin: 45px auto;

  .imguser {
    display: flex;
    justify-content: space-evenly;
  }

  &-top {
    padding: 6px 0 4px 10px;
    display: flex;
    justify-content: space-between;

    .img-top {
      width: 23px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    i {
      font-size: 12px;
      padding-top: 10px;
    }
  }
  .img-mid {
    width: 100%;
  }

  i {
    padding-left: 10px;
    margin-right: 10px;
  }

  .icons {
    display: flex;
    justify-content: space-between;
  }

  h6,
  strong {
    font-weight: 600;
    margin: 8px 0;
  }

  h6,
  p {
    font-size: 10.72px;
    padding-left: 10px;
  }
  .timestamp {
    color: darkgray;
  }
  .input {
    padding-left: 10px;
    height: 35px;
    width: 100%;
    font-size: 10.72px;
    box-sizing: border-box;
  }
}
